div{
    width:50%;
    margin-top:100px;
    margin-left:25%;
}
body{
    background-color:black;
}
#img{
    border:10px solid white;
    padding:10px;
    image-rendering: crisp-edges;
    width:100%;
    /* width: 25vw;
    margin:5vw 0vw 0vw 37.5vw ; */
}
h1{
    color:white;
    font-family: 'Libre Baskerville', serif;
    text-transform:uppercase;
    text-align:center;
     
}
p{
    color: white;
    text-align:center;
}